
.good{
    padding-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.coursel{
    display: flex;
    flex-direction: column;
}
.good-title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
/* 轮播图部分 */
.content {
	display: flex;
	flex-direction: column;
	align-items: center;
    position: relative;
	/* padding-top: 100px; */
	/* margin-bottom: 200px; */
}

#item {
	position: relative;
	width: 700px;
    height: 700px;
    overflow: hidden;
	/* height: 100%; */
	padding-left: 0px;
	margin: 0px auto;
}

.item {
	display: none;
	transition: all 1s;
}

.item img {
	width: 700px;
	height: 100%;
}

.item.active {
	display: block;
}

#btn-left{
	position: absolute;
    top: 300px;
    left: -50px;
    font-size: 50px;
    cursor: pointer;
    transition: 0.3s;
}


#btn-right{
    position: absolute;
    top:300px;
    right: -50px;
    font-size: 50px;
    cursor: pointer;
    transition: 0.3s;
}
#btn-right:hover{
    color: #8f8f8f;
}
#btn-left:hover{
    color: #8f8f8f;
}

#circle {
	height: 20px;
	display: flex;
	justify-content: center;
	position: relative;
	top: -25px;
	margin: 0px;
	padding: 0px;
	z-index: 100;
	/* background-color: aqua; */
}

.circle {
    list-style: none;
	width: 25px;
	height: 6px;
	/* border-radius: 10px; */
	/* border: 2px solid white; */
	background: rgba(161, 161, 161, 0.4);
	cursor: pointer;
	margin: 5px;
	transition: 0.3s;
}

.circle:hover {
	width: 30px;
	height: 8px;
	background: rgba(219, 219, 219, 0.4);
}

.white {
	background-color: #eeeeee;
}
/* 商品介绍 */
.good-detial{
    box-sizing: content-box;
    margin-left: 100px;
    display: flex;
    border: 1px solid rgb(108, 122, 131);
}
.detial-list ul{
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 25px;
    color:rgb(109, 177, 255);
    
}
.detial-list ul li{
    width: 200px;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    border-right: 1px solid rgb(108, 122, 131);
    border-bottom: 1px  solid rgb(109, 177, 255);
   text-align: center;
}
.detial-list ul li:hover{
    /* border-bottom: 2px solid rgb(109, 177, 255); */
}
.detial-price{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.detial-price a{
    font-size: 20px;
    font-weight: 600;
}
.detial-intro{
    width: 500px;
    margin: 30px auto;
}
.detial-button1{
    margin: 0px auto;
    margin-top: 40px;
    width: 550px;
    height: 50px;
    line-height: 50px;
    background-color: rgba(131, 181, 238, 0.712) ;
    color: #ffffff;
    text-align: center;
    align-items: center;
}
.detial-button2{
    
    display: flex;
    justify-content: center;
    color: rgba(131, 181, 238, 0.712);
    margin-bottom: 30px;
}

/* 详情 */
.realdetail-introduce {
    
    width: 77%;
    /* height: auto; */
    border: 1px solid #BFBFBF;
    background-color: #fff;
    margin: 50px auto;
    height: 500px;
}

.realdetail-introduce-title {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #BFBFBF;
    line-height: 40px;
    color: rgb(95, 179, 228);
    font-size: 17px;
}

.realdetail-introduce-title span {
    margin-left: 15px;
}

.realdetail-introduce-detail {
    margin: 15px;
}

